@font-face {
  font-family: "iconfont"; /* Project id 3702242 */
  src: url("../font/iconfont.woff2?t=1667129248649") format("woff2"), url("../font/iconfont.woff?t=1667129248649") format("woff"),
    url("../font/iconfont.ttf?t=1667129248649") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 3.8647vw;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tongxinyuantu:before {
  content: "\e623";
}

.icon-xiangce:before {
  content: "\e60a";
}

.icon-xiaolian:before {
  content: "\e8ab";
}

.icon-paizhao:before {
  content: "\e6b4";
}

.icon-xiangjifanzhuan:before {
  content: "\e7ae";
}

.icon-dingwei:before {
  content: "\e602";
}

.icon-diantong_kai:before {
  content: "\e8ae";
}

.icon-saoyisao:before {
  content: "\e606";
}

.icon-jibiji:before {
  content: "\e609";
}

.icon-gouwuche:before {
  content: "\e63b";
}

.icon-liebiao:before {
  content: "\e600";
}

.icon-fenlei:before {
  content: "\e62f";
}

.icon-shezhi:before {
  content: "\e70f";
}

.icon-fenxiang:before {
  content: "\e8b0";
}

.icon-24gf-recordCircle:before {
  content: "\ea88";
}

.icon-sousuo:before {
  content: "\e693";
}

.icon-fabu:before {
  content: "\e615";
}

.icon-WIFI:before {
  content: "\e76c";
}

.icon-dianchi:before {
  content: "\e614";
}

.icon-xinhao:before {
  content: "\e61f";
}
